.inputDetailContainer {
	width: calc(100vw * 0.9 * 0.38);
	height: calc(100vw * 0.9 * 0.29);
	max-width: 570px;
	margin-right: 40px;
	.detailTable {
		text-align: left;
		font-weight: 400;
		font-size: 22px;
		padding: 60px;
		padding-top: 0;
		padding-right: 0;
		border-spacing: 1em;
		@media (max-width: 1350px) {
			border-spacing: 0.2em;
		}
		@media (max-width: 1200px) {
			border-spacing: 0.1em;
		}
		@media (max-width: 768px) {
			border-spacing: 0.05em;
		}
		td {
			height: 35px;
			margin-bottom: 20px;
		}
		.textInput {
			width: calc(100vw * 0.9 * 0.286);
			max-width: 430px;
			height: 40px;
			font-size: 22px;
			padding: 1px 15px;
		}
		.selection {
			display: flex;
			input[type="radio" i] {
				transform: scale(1.5);
				margin-right: 20px;
			}
			.tempUnit,
			.isDisplayWind {
				flex: 1;
			}
		}
	}
}
